@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto+Condensed:wght@300;400;700&display=swap');

*{
  user-select: none;
  font-family: 'Poppins' !important;
}

body {
  margin: 0;
  /* background-size: cover;
  background: url(./assets/BGGRADIENT.jpg) no-repeat center; linear-gradient(-35deg, #000428 0%, #004e92) */
  
    background-color: rgb(27, 38, 44);
}

code {
  font-family: 'Poppins' !important;
}

html::-webkit-scrollbar{
  display: none;
}
